In [1]:
import pandas as pd
import random

cols='Walk,Bike,Car,Taxi,Bus,Train,Rail,Urban/Rural,Internet Use,PC Use,Phone Use,Tablet Use,Price  of Gas,Travel $ Burden,Walk to Save,Bike to Save,Public Transportation,Workers in Household,Household Income,Drivers in Household,Adults in Household,Household Members,Household Vehicles'.split(sep=',')

In [4]:
df = pd.read_excel(io='hhpub Pipeline.xlsx', 
                   sheet_name='Export Data',
                   header=0, 
                   names=cols, 
                   usecols='A:W')
df.head(5)

,Walk,Bike,Car,Taxi,Bus,Train,Rail,Urban/Rural,Internet Use,PC Use,...,Travel $ Burden,Walk to Save,Bike to Save,Public Transportation,Workers in Household,Household Income,Drivers in Household,Adults in Household,Household Members,Household Vehicles
0,1,1,5,1,2,1,2,1,5,4,...,4,2,2,2,1,7,3,3,3,5
1,2,2,5,1,1,1,2,2,5,5,...,4,2,2,1,2,8,2,2,2,4
2,4,1,5,1,2,2,2,1,5,5,...,5,4,3,1,1,10,1,1,1,2
3,1,1,5,1,1,1,2,1,5,5,...,3,1,1,1,1,10,2,2,2,2
4,5,2,5,3,2,2,1,1,5,5,...,1,1,1,1,2,11,2,2,2,2

In [17]:
urban_df = df[df['Urban/Rural']==1]
rural_df = df[df['Urban/Rural']==2]

In [18]:
urban_df.reset_index(drop=True, inplace=True)
rural_df.reset_index(drop=True, inplace=True)

In [19]:
len(urban_df)

84143

In [20]:
len(rural_df)

23744

In [21]:
# Since there is about a 4 to 1 ratio of Urban households compared to Rural households in the data,
# we can try to take a representative sample of urban_df. 

# We can do this by extracting the number of records equal to the total count of rural records (So they both have 29231)
index_list = list(urban_df.index)

chosen_ones = random.sample(index_list, len(rural_df)-1)
urban_df = urban_df.iloc[chosen_ones]

In [22]:
urban_df.reset_index(drop=True, inplace=True)

In [24]:
with pd.ExcelWriter("samples.xlsx") as writer:  
    rural_df.to_excel(writer, sheet_name='Rural Sample')
    urban_df.to_excel(writer, sheet_name='Urban Sample')